.nav_link {
    color: black;
}

.nav_link:hover {
    color: yellow;
    border: 1px solid yellow;
    cursor: pointer;
}

.nav_link.active {
    color: yellow !important;
    background-color: transparent !important;
}